.wrapper{
    background-color:#faf0e6;
    width: 900px;
    height: auto;
    margin:40px;
}
.header{
    width:100%;
    height:8%;
    background-color:burlywood;
}
.nav{
float:left;
width:150px;
height:500px;
background-color:#8b4513;

}
.footer{
    height: 80px;
    background-color:burlywood;
    text-align: center; 
}



body{text-align : left;
    background-color:#faf0e6;
}

#top{
    background-color: #8b4513;
    color:#ffffff;
}

h1{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

h2{
    font-size: 18px;
    line-height: 24px;
    
}

h3{
    font-size: 16px;
    line-height: 22px;
}
p {
     font-size: 14px;
    line-height: 18px;
}
h9{
    font-size: 22px;
    color : #660000;
}
h10{
    font-size: 20px;
    line-height: 30px;
    color:gray;
    text-align: center;
}
caution{
    color:red;
    font-size: 20px;
}
.container{
    /*background-color: #000000;
    color:#ffffff;*/
    text-align : left;
    
}

#button{
    background-color: #11ff13;
    color:#ffffff;
    font-size: 50px;
    line-height: 60px;
    width:70px;
    height:70px; 
}

.box{
    text-align : left;
    width:300px;
    height:200px;
    padding:10px;
    border:5px solid #000000;
    margin:20px;
    background-color: #faf0e6;
}
